img {
  width: 100%;
}

body {
    background-color: #f5b2f5;
}

div.imageWrap {
  width: 150px;
  padding: 20px;
  text-align: center;
}

.header { /* header */
    width: 100%;
    background-color: #f793f7;
    text-align: center;
    justify-content: center;
}

.main { /* main*/
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: verdana;
    font-size: 300%;
    font-weight: 700;
    padding: 10px;
}

p {
    font-family: verdana;
    font-size: 16px;
}

.name {
    font-weight: 700;
}
