img {
  width: 100%;
}



body {
    background-color: #f5b2f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.imageWrap {
  width: 130px;
  padding: 20px;
  text-align: center;
}

.header { /* header */
    width: 100%;
    background-color: #f793f7;
    text-align: center;
    justify-content: center;
}

.main { /* main*/
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 300%;
    font-weight: 700;
    padding: 10px;
}

p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.name {
    font-weight: 700;
}
