img {
  width: 100%;
}

body {
    background-color: #9eec87;
}

div.imageWrap {
  width: 200px;
}

.header { /* header */
    width: 100%;
    background-color: #ec87ec;
    text-align: center;
    justify-content: center;
}

.main { /* main*/
    width: 100%;
    background-color: #87d8ec;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    text-align: center;
    align-items: center;
}

.tile-left {
    background-color: #87d8ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 33%;
}

.tile-middle {
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 33%;
}

.tile-right {
    background-color: #87d8ec;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    flex: 33%;
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
    }
    .tile-right, .tile-middle, .tile-left {
        flex-direction: row;
    }
}

h1 {
    font-family: verdana;
    font-size: 300%;
    padding: 10px;
}

p {
    font-family: verdana;
    font-size: 20px;
    padding: 10px;
}

name {
    font-family: verdana;
    font-size: 20px;
    padding: 10px;
}

major {
    font-family: verdana;
    font-size: 20px;
    padding: 10px;
}

word {
    font-family: verdana;
    font-size: 20px;
    padding: 10px;
}
